.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
  }
  .clients-teg{
   padding: 16px 32px 16px 32px;
   width: 170px;
  height: 92px;
  border: 1px solid var(--color-icon-insta);
  color: var(--color-icon-insta);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline-color: transparent;
  transition: border-color 250ms var(--taming-fix), color 250ms var(--taming-fix);
 &:hover,
 &:focus{
  border-color: var(--accent-color);
  color: var(--accent-color);
  
  }
  }
  
 
  
  .clients-icon{
      fill: currentColor;
  }
  .clients-board{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
   text-align: center;
  
  
  }