.page-header{
color: var(--title-text-color);
text-decoration:none;
border-bottom: 1px solid #ECECEC;
&:hover, 
&:focus {
color: var(--accent-color);
}
}
.flex{
 display: flex;
align-items: stretch;
}
.navigation{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    @media screen and (min-width: 1200px){
  display: flex;
flex-wrap: wrap;
align-items: center;
    }

    @media screen and (min-width: 1px){
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}
.connect{
display: flex;
flex-wrap: wrap;
align-items: center;

    @media screen and (min-width: 200px){
        display: none;
    }
    @media screen and (min-width: 768px){ 
      display: flex;
      align-content: flex-end;
      margin-left: 60px;;
      
}
@media screen and (min-width: 1200px){
gap: 50px;
padding-top: 0px; 
padding-bottom: 0px;
display: flex;
align-items: baseline;
margin-left: auto;
}}

.menu {
    display: none;
    @media screen and (min-width: 1200px){
        display: flex;
    }
    @media screen and (min-width: 768px){
        display: flex;
        gap: 50px;}

}
   
.navigation__logo{ 
color: var(--color-logo);
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.19;
text-decoration:none;
margin-left: 0px;
display: block;
margin-right: 93px;
transition: color 250ms var(--taming-fix);

}
.logo__blue{ 
color: var(--accent-color);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
        }

.menu__link {
        color: var(--title-text-color); 
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration:none;
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        transition: color 250ms var(--taming-fix);}
        .active::after{
             @media screen and (min-width: 768px){
                 content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-size: cover;
            background-color: var(--accent-color);
            border-radius: 2px;
            margin-bottom: -1px;
            transform: scaleX(1);
            transition: color 250ms var(--taming-fix);
             }
        }
        .connect__nav .menu__link:hover, 
        .connect__nav .menu__link:focus{
            color: var(--accent-color);
        }
        
.menu__link:hover,
.menu__link:focus{
    color: var(--accent-color);
}

.connect__nav{
    color:  var(--title-info-kolor);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration:none;
display: flex;
align-items: center;
transition: color 250ms var(--taming-fix);
    @media screen and (min-width: 1200px){
padding-top: 32px;
padding-bottom: 32px;
}

&:hover,
&:focus{
color: var(--accent-color);
}}
.connect__li{
    @media screen and (min-width: 768px){
        margin-bottom: 10px;
        
      }
      @media screen and (min-width: 1200px){
        margin-bottom: -1px;
      }
}
    
.connect__icon{
fill: currentColor;
margin-right: 10px;
width: 10px;
height: 14px;
@media screen and (min-width: 1200px){
  width: 10px;
height: 16px;  
}

}
.connect__mail{
    width: 14px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    @media screen and (min-width: 1200px){
        width: 16px;
        height: 12px;
    }
}
    
    
.connect__tel{
color: var(--title-info-kolor);
text-decoration:none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
display: flex;

transition: color 250ms var(--taming-fix);
padding-bottom: 10px;
@media screen and (min-width: 1200px){
    padding-top: 32px;
    padding-bottom: 32px;
    }
 
&:hover ,
&:focus{
color: var(--accent-color);
}}
.menu-button{
    @media screen and (min-width: 768px){
        display: none;
    }
    @media screen and (min-width: 2px){
margin-left: auto;
background: transparent;
border-color: transparent;
padding-top: 20px;
padding-bottom: 20px;
 
    }
    

}
.icon-menu{
width: 24px;
height: 16px;
margin-left: auto;

}

.mob-menu{
    position: fixed;
    top: 0;
    background-color: var(--primari-text-color);
    width: 100vw;
    height: 100vh;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .active{
    color: var(--accent-color);
    position: relative; 
    transition-property: background-color;
    transition-duration: 250ms;
    
        }
.other-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:48px 40px 48px  40px;
}
.mob-button-close{
    position: absolute;
    right: 25px;
    top: 21px;
padding: 0;
margin-left: auto;
background: transparent;
border: none;
display: block;
color: black;
&:hover,
&:focus{
color: var(--accent-color);
}}
.icon-menu-close{
    fill: currentColor;}


.mob{
    margin-bottom: 32px;
}

.mob__link{
    display: block;
    margin-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: var(--title-text-color);
    &:hover ,
    &:focus{
    color: var(--accent-color);
    }}
        
.active-mob{
    color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
}
.mob__connect{
    display: block;
    margin-top: 306px;
    text-decoration: none;
}
.mob__connect__tel{
    display: block;
    margin-bottom: 32px;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
    @media screen and (min-width: 480px){
        font-size: 34px;
    }

    
}
.mob__connect__mail{
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 2.4vw;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--title-info-kolor);
    text-decoration: none;
    @media screen and (min-width: 480px){
        font-size: 24px;
    }

}
.icon-mob{
display: flex;
justify-content: flex-start;
width: calc((100% - 60px) / 4);
position: absolute;
}
.icon-mob-ref{

text-decoration: none;
font-weight: 500;
font-size: 2vw;
line-height: 22px;
letter-spacing: 0.02em;
color: var(--accent-color);
@media screen and (min-width: 480px){
    font-size: 18px;
}


}

.refe:not(:first-child){
border-left: 1px solid rgba(33, 33, 33, 0.2); 
padding-left: 10px;
padding-right: 10px;
}
.refe:first-child{
padding-right: 10px;
}
