
.backdrop{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--taming-fix), visibility 250ms var(--taming-fix);
}
.modal{
    width: 528px;
    height: 581px;
    background-color: var(--primari-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms var(--taming-fix), box-shadow 250ms var(--taming-fix);
    padding: 40px 40px 40px 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
@media screen and (min-width: 2px){
width: 100%;
}
@media screen and (min-width: 450px){
    width: 450px;
    height: 609px;
}

@media screen and (min-width: 768px){
    width: 450px;
    height: 609px;
}
@media screen and (min-width: 1200px){
    width: 528px;
    height: 581px;
}
}
.backdrop .is-hidden .modal{
    transform: translate(-50%, -50%)  scaleY(0);
}
.modal-btn{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    cursor: pointer;
    transition: transform 250ms var(--taming-fix);
    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}
.modal-close{
    fill: currentColor;
}


.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
margin-bottom: 12px;
@media screen and (min-width: 1200px){
    font-size: 20px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0.03em;
}


}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border-color 250ms var(--taming-fix);
    &:focus ,
    &:focus{
    border-color: var(--accent-color);
    outline: transparent;}
    &::placeholder{
        visibility: hidden;
    }

}


.modal-coment{
    display: block;
    width: 100%;
    height: 120px;
    border:  1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px 12px 16px;
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: border-color 250ms var(--taming-fix);
}
.modal-label{
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--title-info-kolor);
.modal-input:focus + &{
    fill: var(--accent-color);
    transition: fill 250ms var(--taming-fix);
}
}
.modal-field{
 margin-bottom: 10px;
}
.modal-field-com{
    margin-bottom: 20px;
}
.input-wrap{
    position: relative;
    margin-top: 4px;
  
}
.modal-label-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    fill: var(--title-text-color);
    cursor: pointer;

}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.input-button{
border-color: transparent;
padding: 10px 52px 10px 52px;
background: var(--button-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color:var(--primari-text-color);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor: pointer;
}
.chat-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
display: flex;
align-items: center;
margin-left: 15px;
@media screen and (min-width: 1200px){
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
&::before{
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
   align-items: center;
   margin-right: 7px;
   cursor: pointer;
   transition: background-color 250ms var(--taming-fix);
}
.input-check:checked + &::before{
    background-color: var(--accent-color);
    background-image: url(../images/Vector\ \(2\).svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    transition: background-color 250ms var(--taming-fix);
}

}
.input-other{
    color: var(--accent-color);
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
     margin-left: 2px;
     cursor: pointer;
@media screen and (min-width: 1200px){
    font-style: normal;
    font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
}
}
.box-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 30px;
 
}
