:root{
    --primari-text-color: #FFFFFF;
    --title-text-color: #212121;
    --title-info-kolor:#757575;
    --accent-color:#2196F3;
    --footer-color:#2F303A;
    --button-color: #188CE8;
    --team-color: #F5F4FA;
    --footer-mail-color:#FFFFFF99;
    --color-logo: #000000;
    --color-footer-adress: rgba(255, 255, 255, 0.6);
    --color-decision:#C4C4C4;
    --color-icon-insta: #AFB1B8;
    --color-border:#EEEEEE;
    --taming-fix: cubic-bezier(0.4, 0, 0.2, 1);
    }
    